In [1]:
import pandas as pd

In [2]:
new_df = pd.DataFrame(
{
    "col_1": [3, 5, 7, 2, 1],
    "col_2": ['m', 'a', 'x', 'k', 'e'],
    "col_3": [0.233, 1.23, 9.34536, 15.15, 13.14],
    "col_4": [False, True, True, False, True],
}
)

In [3]:
new_df

   col_1 col_2     col_3  col_4
0      3     m   0.23300  False
1      5     a   1.23000   True
2      7     x   9.34536   True
3      2     k  15.15000  False
4      1     e  13.14000   True

In [4]:
import os

In [5]:
os.getcwd()

'C:\\Users\\napol\\BMD\\lab1'

In [6]:
data = pd.read_csv('NBA All Stars 2000-2016 - Sheet1.csv')
print (type(data))

<class 'pandas.core.frame.DataFrame'>

In [7]:
data

,Year,Player,Pos,HT,WT,Team,Selection Type,NBA Draft Status,Nationality
0,2016,Stephen Curry,G,6-3,190,Golden State Warriors,Western All-Star Fan Vote Selection,2009 Rnd 1 Pick 7,United States
1,2016,James Harden,SG,6-5,220,Houston Rockets,Western All-Star Fan Vote Selection,2009 Rnd 1 Pick 3,United States
2,2016,Kevin Durant,SF,6-9,240,Golden State Warriors,Western All-Star Fan Vote Selection,2007 Rnd 1 Pick 2,United States
3,2016,Kawhi Leonard,F,6-7,230,San Antonio Spurs,Western All-Star Fan Vote Selection,2011 Rnd 1 Pick 15,United States
4,2016,Anthony Davis,PF,6-11,253,New Orleans Pelicans,Western All-Star Fan Vote Selection,2012 Rnd 1 Pick 1,United States
...,...,...,...,...,...,...,...,...,...
434,2000,Antonio McDyess,F,6-9,245,Denver Nuggets,Western All-Star Coaches Selection,1995 Rnd 1 Pick 2,United States
435,2000,Gary Payton,G,6-4,180,Seattle SuperSonics,Western All-Star Coaches Selection,1990 Rnd 1 Pick 2,United States
436,2000,Rasheed Wallace,FC,6-11,230,Portland Trail Blazers,Western All-Star Coaches Selection,1995 Rnd 1 Pick 4,United States
437,2000,David Robinson,C,7-1,250,San Antonio Spurs,Western All-Star Coaches Selection,1987 Rnd 1 Pick 1,United States
438,2000,Vlade Divac,C,7-1,260,Sacramento Kings,Western All-Star Replacement Selection,1989 Rnd 1 Pick 26,Serbia

In [8]:
data.shape

(439, 9)

In [9]:
data.describe()

              Year          WT
count   439.000000  439.000000
mean   2007.974943  228.751708
std       4.899148   30.834435
min    2000.000000  165.000000
25%    2004.000000  210.000000
50%    2008.000000  235.000000
75%    2012.000000  246.000000
max    2016.000000  325.000000

In [10]:
cut_data = data.iloc[0:10, :]

In [11]:
data['Year'].describe()

count     439.000000
mean     2007.974943
std         4.899148
min      2000.000000
25%      2004.000000
50%      2008.000000
75%      2012.000000
max      2016.000000
Name: Year, dtype: float64

In [12]:
cut_data = data.iloc[0:10, :]
cut_data

,Year,Player,Pos,HT,WT,Team,Selection Type,NBA Draft Status,Nationality
0,2016,Stephen Curry,G,6-3,190,Golden State Warriors,Western All-Star Fan Vote Selection,2009 Rnd 1 Pick 7,United States
1,2016,James Harden,SG,6-5,220,Houston Rockets,Western All-Star Fan Vote Selection,2009 Rnd 1 Pick 3,United States
2,2016,Kevin Durant,SF,6-9,240,Golden State Warriors,Western All-Star Fan Vote Selection,2007 Rnd 1 Pick 2,United States
3,2016,Kawhi Leonard,F,6-7,230,San Antonio Spurs,Western All-Star Fan Vote Selection,2011 Rnd 1 Pick 15,United States
4,2016,Anthony Davis,PF,6-11,253,New Orleans Pelicans,Western All-Star Fan Vote Selection,2012 Rnd 1 Pick 1,United States
5,2016,Russell Westbrook,G,6-3,200,Oklahoma City Thunder,Western All-Star Coaches Selection,2008 Rnd 1 Pick 4,United States
6,2016,DeMarcus Cousins,C,6-11,270,Sacramento Kings,Western All-Star Coaches Selection,2010 Rnd 1 Pick 5,United States
7,2016,Klay Thompson,G,6-7,215,Golden State Warriors,Western All-Star Coaches Selection,2011 Rnd 1 Pick 11,United States
8,2016,Draymond Green,F,6-7,230,Golden State Warriors,Western All-Star Coaches Selection,2012 Rnd 2 Pick 5,United States
9,2016,Marc Gasol,C,7-1,255,Memphis Grizzlies,Western All-Star Coaches Selection,2007 Rnd 2 Pick 18,Spain

In [13]:
new_data = ["gr1", "gr2", "gr2", "gr1", "gr2", "gr1", "gr1", "gr1", "gr2", "gr2", ]
cut_data.insert(1,"Group", new_data)
cut_data

,Year,Group,Player,Pos,HT,WT,Team,Selection Type,NBA Draft Status,Nationality
0,2016,gr1,Stephen Curry,G,6-3,190,Golden State Warriors,Western All-Star Fan Vote Selection,2009 Rnd 1 Pick 7,United States
1,2016,gr2,James Harden,SG,6-5,220,Houston Rockets,Western All-Star Fan Vote Selection,2009 Rnd 1 Pick 3,United States
2,2016,gr2,Kevin Durant,SF,6-9,240,Golden State Warriors,Western All-Star Fan Vote Selection,2007 Rnd 1 Pick 2,United States
3,2016,gr1,Kawhi Leonard,F,6-7,230,San Antonio Spurs,Western All-Star Fan Vote Selection,2011 Rnd 1 Pick 15,United States
4,2016,gr2,Anthony Davis,PF,6-11,253,New Orleans Pelicans,Western All-Star Fan Vote Selection,2012 Rnd 1 Pick 1,United States
5,2016,gr1,Russell Westbrook,G,6-3,200,Oklahoma City Thunder,Western All-Star Coaches Selection,2008 Rnd 1 Pick 4,United States
6,2016,gr1,DeMarcus Cousins,C,6-11,270,Sacramento Kings,Western All-Star Coaches Selection,2010 Rnd 1 Pick 5,United States
7,2016,gr1,Klay Thompson,G,6-7,215,Golden State Warriors,Western All-Star Coaches Selection,2011 Rnd 1 Pick 11,United States
8,2016,gr2,Draymond Green,F,6-7,230,Golden State Warriors,Western All-Star Coaches Selection,2012 Rnd 2 Pick 5,United States
9,2016,gr2,Marc Gasol,C,7-1,255,Memphis Grizzlies,Western All-Star Coaches Selection,2007 Rnd 2 Pick 18,Spain

In [14]:
cut_data.groupby('Group').describe()

       Year                                                         WT         \
      count    mean  std     min     25%     50%     75%     max count   mean
Group
gr1     5.0  2016.0  0.0  2016.0  2016.0  2016.0  2016.0  2016.0   5.0  221.0
gr2     5.0  2016.0  0.0  2016.0  2016.0  2016.0  2016.0  2016.0   5.0  239.6


             std    min    25%    50%    75%    max
Group
gr1    31.304952  190.0  200.0  215.0  230.0  270.0
gr2    14.943226  220.0  230.0  240.0  253.0  255.0

cut_data.to_csv("output.csv", encoding='utf8')

In [15]:
data.to_csv("output_first.csv", encoding='utf8')